.item-count-container, .item-count-stock{
    display: flex;
    flex-direction: column;
    align-items: center;
}  
.item-count-products{
    display: flex;
    flex-direction: row;  
    margin: 10px;
    padding: 10px;
}
.item-count-quantity {
    display: flex; 
    align-items: baseline;
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
}
.item-quantity-selected, .item-stock-text{
    font-weight: 600;
}
.item-quantity-available{
    color: #7c7b7b;
}
.item-count-cart-buttons{
    display: flex;
    flex-direction: column;
}
.btn-primary, .btn-outline-primary{
    width: 250px;
    margin: 5px;
} 


@media screen and (max-width: 990px) {
 
    /* TODO: font-size ItemCount buttons */
    .item-count-stock{
        align-items: self-start; 
    }
 
  }