.item-count-container, .item-count-stock{
    display: flex;
    flex-direction: column;
    align-items: baseline; 
}  
.item-count-products{
    display: flex;
    flex-direction: row;  
    margin: 10px;
    padding: 10px;
}
.item-count-quantity { 
    display: flex;
    text-align: left;
    font-size: 14px;
}
.item-stock-text{
    font-weight: 600;
}
.item-quantity-available{
    color: #7c7b7b;
}
.item-count-cart-buttons{
    display: flex;
    flex-direction: column;
}
.btn-primary, .btn-outline-primary{
    width: 250px;
    margin: 5px;
} 
/* 
.andes-button {
    width: 100%; 
    height: 48px;
    margin-top: 8px;  
    padding: 0 20px;
    display: flex;
    text-align: center;
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    border-radius: 6px; 
    font-family: Proxima Nova, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.andes-button__content{ 
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
} */

@media screen and (max-width: 990px) {
 
    /* TODO: font-size ItemCount buttons */
    .item-count-stock{
        align-items: self-start; 
    }
    .item-count-cart-buttons{
        display: block;
    }
    .btn-primary {
        width: 100%;
    }
    .full-width-btn {
        width: 100%;
        box-sizing: border-box; /* Asegura que el padding no aumente el ancho */
    }
    .item-count-quantity{
        background-color: #f5f5f5;
        border-radius: 6px;
        display: inline-flex;
        font-size: 16px;
        font-weight: 400;
        height: 50px;
        line-height: 1;
        padding: 16px 38px 16px 16px;
        width: 100%;
    }
  }