.item-count-container, .item-count-stock{
    display: flex;
    flex-direction: column;
} 
.item-count-stock{
    margin: 0;
    padding: 0;
}
.item-stock-text{
    font-size: 14px;
}
.item-count-products{
    display: flex;
    flex-direction: row;  
    margin: 10px;
    padding: 10px;
}
.item-count-quantity {
    display: flex; 
    font-size: 14px;
    align-items: baseline;
    justify-content: start;
}
.item-quantity-selected, .item-stock-text{
    font-weight: 600;
}
.item-quantity-available{
    color: #7c7b7b;
}
.item-count-cart-buttons{
    display: flex;
    flex-direction: column;
}
.btn-primary, .btn-outline-primary{
    width: 250px;
    margin: 5px;
} 