.cards-double-scroll{
    background-color: #ededed;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    min-height: auto;
} 
.cards-list{
    padding-bottom: 0;
    padding-top: 0;
    background-color: #ededed;
}
.cards-container{
    display: grid;
    gap: 32px;
    grid-template-columns: calc(100% - 392px) auto;
    height: auto;
    min-height: unset;
    max-width: 1200px;
    min-width: 270px;
    margin: 0px 40px 44px;
    padding: 26px 0px;
}
.card-wrapper{
    padding: 0 0 16px;
}
.andes-card{
    background-color: #fff;
    border-radius: 6px;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
}
.andes-card__header{
    padding: 20px 24px; 
}
.ander-card__header-title{
    color: rgba(0,0,0,.9);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.bf-ui-separator{
    background: rgba(0,0,0,.2);
    height: 1px;
    margin: 0;
    width: 100%;
}

/* SECTION */
.item-row{
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    border-radius: 6px;
    padding: 24px;
    margin-left: auto;
}
.item-cart{
    padding: 0;
    width: 100%;
    display: flex;
}
.item-cart__asset{
    height: 64px;
    width: 64px;
    margin-right: 24px;
}
.item-cart__asset img{
    height: 64px;
    width: 64px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.item-cart__info{
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}
.item-title{
    font-size: 14px;
    line-height: 1.25;
    cursor: pointer;
}
.rich-text--small{
    font-size: 16px;
    color: #1a1a1a;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
}
.item-cart__actions{
    margin-top: 0;
    line-height: 18px;
}
.link-container--horizontal{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    padding: 0;
}
/* Span */
.bf-ui-link{
    padding: 0 0 4px;
    font-weight: 400;
    font-size: 14px;
    margin-right: 16px;
    align-items: center;
    color: #3483fa;
    cursor: pointer;
    display: inline-flex;
}

@media screen and (max-width: 790px) {
   
    .cards-container{
        display: flex;
        flex-direction: column;
        min-width: 270px; 
        position: relative;
    }
    .cards-list{
        padding: 8px 0px; 
    }
    .cards-container {
        padding: 8px 16px;   
    }
    .card-wrapper{ 
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        background-color: #fff; 
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
    } 
    /* HEADER */
    .andes-card__header{
        display: flex;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 16px;
    }
    .ander-card__header-title{
        display: flex;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    /* ITEM-ROW */
    .item-row{ 
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        padding: 16px;
        background: #fff;
        position: relative;
        width: 100%;
    } 
    .item-cart{
        padding: 0;
        display: flex;
        width: calc(100% - 32px);
    }
    .item-cart__asset{
        margin-right: 12px;
        height: 48px;
        width: 48px;
    }
    .item-cart__asset img{
        height: 48px;
        width: 48px;
    }
    .item-cart__info{
        margin-bottom: 16px;
        overflow: hidden;
    }
    .item-title{
        font-size: 14px;
        line-height: 1.25;
    }
    .rich-text--small{
        font-size: 14px;
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .item-cart__actions{
        line-height: 18px; 
    }
    .link-container--horizontal{
        margin-top: 12px;
        padding: 0;
        display: flex; 
    }

    .bf-ui-link{
        margin-right: 8px;
        font-weight: 400;
        color: #3483fa;
        align-items: center;
        cursor: pointer;
        display: inline-flex;
        font-size: 16px;
        position: relative;
        transition: .15s ease-in-out;
    }
    .bf-ui-rich-text{
        font-size: 12px;
        font-weight: 600;
        white-space: pre-wrap;
        width: fit-content;
    }

    /* QUANTITY CONTAINER */
    .quantity-selector-mobile-container{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin: 0 12px 0 0;
        min-width: 115px;
        width: auto; 
    }
    .quantity-selector-mobile{
        height: auto;
        justify-content: space-between;
        line-height: 18px;
        min-width: 45%;
        padding: 8px 7px;
        width: auto;
    }
    .quantity-selector-mobile-container .quantity-selector-mobile {
        align-items: center;
        border: 1px solid rgba(0,0,0,.07);
        border-radius: 4px;
        color: rgba(0,0,0,.9);
        cursor: pointer;
        display: flex;
    }

    /* ITEM-PRICE-CONTAINER */
    .item-price-container{
        align-items: center; 
        margin: 0 0 0 auto;
        text-align: right; 
    }
    .item-price{
        display: flex;
        justify-content: flex-end;
        gap: 4px;
    }
    .bf-ui-rich-price{
        display: inline-flex;
        align-items: flex-end;
        font-size: 18px; 
    }
    .bf-ui-price-small{
        align-self: flex-end;
        margin-top: 6px;
    }

    /* FOOTER */
    .andes-card__footer{
        background-color: #f5f5f5;
        padding: 0;
    }
    .ticket-row{
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        margin-bottom: 0;
        padding: 12px 16px; 
    }
    .ticket-row__right-column{
        margin-left: auto;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .ticket-row__primary-text{
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 16px;
        justify-content: flex-end;
        line-height: 1.25;
    }
    .rich-text--success{
        font-weight: 600;
        color: #00a650;
        font-size: 14px;
    }
    .item-row{
        display: flex;
    }
}