.item-title-seller{
    color: rgba(0,0,0,.9);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 28px;
    width: 100%;
    line-height: 1.25;
} 
.item-seller-status-info{
    margin-bottom: 20px;
    display: flex;
}
.item-ui-pdp-icon{
    margin: 0 10px 0 0;
    width: 20px;
}

.item-seller-reputation-info{
    margin-top: 16px;
}
.item-seller-list-description{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.item-seller-description{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 0 5px;
    line-height: 1;
    text-align: center;
}
.item-sales-description{
    width: 100%;
    margin-top: 8px;
    line-height: 1;
}

.item-status-title{
    font-weight: 600;
    color: #00a650;
    font-size: 16px;
    margin-bottom: 2px;
}
.item-status-subtitle{
    color: rgba(0,0,0,.55);
    font-size: 14px;
}
.item-sales{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
}

.seller-icon{
    width: 30px; 
}

@media screen and (max-width: 990px) {
    .item-title-seller{
        font-weight: 400;
        font-size: 20px;
        color: rgba(0,0,0,.9);
    }
    .item-status-title, .item-status-subtitle{
        margin: 0;
    } 
    .item-sales{
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2;
    }
    .item-sales-description{
        line-height: 1;
        margin-top: 8px;
    } 
}