 
.product-detail-container{
  display: grid;
  grid-template-columns: 4fr 3fr 2fr;
  grid-template-areas: 
  "image title buttons"
  "image price buttons"
  "image specs buttons"   
  "features features info" 
  "description description info"
  "description description payments" 
  ;
  grid-gap: 2px;
}
.item-title{
  grid-area: title; 
}
.item-img{
  grid-area: image; 
}
.item-price{
  grid-area: price; 
} 
.item-buttons{
  grid-area: buttons; 
}
.item-specs{
  grid-area: specs; 
}
.item-features{
  grid-area: features; 
}
.item-related{
  grid-area: related;
  border: 3px solid red;
}
.item-seller{
  grid-area: info; 
}
.item-description{
  grid-area: description; 
}
.item-payments{
  grid-area: payments;
  border: 3px solid green;
}
 


/* Item IMG */
.item-img{
  margin: 24px 0 0;
  padding: 16px;
}
.item-detail-image {
  width: 100%; 
}



/* Containers */
.container-card{ 
  max-width: 1090px;
  margin: 0 auto;
}
.item-description, .item-features{
  font-weight: 300;
  line-height: 21.6px;
  padding: 0px 45px;
}
.item-title-component{
  font-size: 24px;
  line-height: 30px;
  padding: 0px 0px 24px;
}
.item-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 300; 
  margin: 42px 32px 0px 0px;  
}

/* Product */

.product-detail-container{
  background-color: #ffffff;
  margin: 10px 4px;
  padding: 0px 0px 40px;
} 
.product-detail-loading-text{
  text-align: center;
  padding-top: 2.5rem;
  margin: 0 auto; 
  font-weight: 600;
} 




/* ITEM - TITLE */
.product-detail-title{ 
	font-family: 'proxima-nova', sans-serif;
  margin: 0px 0px;
  font-size: 20px; 
  font-weight: 600;
}
.product-description-box{
  text-align: justify;
  margin: 0px 36px;
}
.product-description-p{
  font-size: 16px;
} 

.item-header-subtitle{
  font-size: 14px;
  color: #7c7b7b;
  margin-top: 16px;
}
 
/* Item buttons */ 
.item-buttons{
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 20px 16px 2px;
  margin: 12px; 
}

/* Item Specs */
.item-specs{
  margin-top: 32px;
}
.item-specs-title{
  font-weight: 600;
  font-size: 14px;
  color: rgba(0,0,0,.9);
}
.item-specs-li{
  margin-top: 16px;
  line-height: 1.43em; 
  font-weight: 400;
  font-size: 14px;
  color: rgba(0,0,0,.9);
}

/* Item Features */
.item-title-features{
  font-weight: 400;
  font-size: 24px;
  color: rgba(0,0,0,.9);
  line-height: 1.25;
  margin: 0;
  padding: 24px 0px ;
}
.item-features-paragraph{
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Item seller */

.item-seller, .item-payments{
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 32px 16px 24px;
  margin: 12px; 
}
.item-title-payments{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  width: 100%;
} 

/* Item Description */
.item-title-description{
  font-size: 24px;
  font-weight: 400;
  padding: 24px 0px ;
}
 

/* Item Payments */
 
@media screen and (max-width: 890px) {
 
  .item-title,  
  .item-buttons, .product-detail-price-pay{ 
    margin: 10px 0px 0px 2px; 
  } 

  .item-header{
    margin-bottom: 8px;
  }
  .item-header-subtitle{
    font-size: 12px;
    font-weight: 400;
    color: #7c7b7b;
  }

  .item-buttons, .item-seller, .item-payments{
    border: none;
    margin: 0px;
    padding: 20px 0px;
  }
  .item-features, .item-description{
    padding: 0px 2px;
  }

  /* Specs */ 
  .item-specs-title, .item-title-features{
    font-weight: 400;
    font-size: 20px;
    color: rgba(0,0,0,.9);
  }
  .item-specs-li{
    margin-top: 24px;
    padding-left: 15px;
    font-weight: 400;
    color: rgba(0,0,0,.9);
    font-size: 16px;
  }
  .item-title-description{
    font-weight: 400;
    font-size: 20px;
    color: rgba(0,0,0,.9);
    margin-bottom: 24px;
  }

  /* Common title */
  .item-title-component{
    font-weight: 400;
    font-size: 20px;
    color: rgba(0,0,0,.9);
  } 
  .product-detail-title{  
    font-size: 16px; 
    font-weight: 400;
    padding-bottom: 0;
  } 

  .product-description-p{
    font-size: 14px;
  } 
  .item-detail-image {
    width: 100%; 
  }
  .product-detail-container {
    padding: 0 10px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "image"
    "price"
    "buttons"
    "specs"
    "features"
    "related"
    "info"
    "description"
    "payments" 
  }
} 
 