 
.product-detail-container{
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-template-areas: 
  "image title buttons"
  "image price buttons"
  "image specs buttons"
  "related related info"
  "features features info"
  "description description payments" 
  ;
  grid-gap: 2px;
}
.item-title{
  grid-area: title; 
}
.item-img{
  grid-area: image; 
}
.item-price{
  grid-area: price; 
} 
.item-buttons{
  grid-area: buttons; 
}
.item-specs{
  grid-area: specs; 
}
.item-features{
  grid-area: features;
  border: 3px solid rgb(172, 14, 141);
}
.item-related{
  grid-area: related;
  border: 3px solid red;
}
.item-seller{
  grid-area: info; 
}
.item-description{
  grid-area: description; 
}
.item-payments{
  grid-area: payments;
  border: 3px solid green;
}
 

/* ItemDetail */

/* Containers */

.item-description{
  font-weight: 300;
  line-height: 21.6px;
  padding: 0px 45px;
}
.item-title-description{
  font-size: 24px;
  line-height: 30px;
  padding: 0px 0px 24px;
}
.item-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 300;
  line-height: 21.6px;
  margin: 22px 32px 0px 0px;

}

/* Product */

.product-detail-container{
  background-color: #ffffff;
  margin: 10px 4px;
  padding: 0px 0px 40px;
} 
.product-detail-loading-text{
  text-align: center;
  padding-top: 2.5rem;
  margin: 0 auto; 
  font-weight: 600;
} 
.product-detail-image {
  width: 100%; 
}



/* ITEM - TITLE */
.product-detail-title{ 
	font-family: 'proxima-nova', sans-serif;
  margin: 0px 0px 8px;
  font-size: 20px; 
  font-weight: 600;
}
.product-description-box{
  text-align: justify;
  margin: 0px 36px;
}
.product-description-p{
  font-size: 16px;
} 

.item-header-subtitle{
  font-size: 14px;
  color: #7c7b7b;
}
 
/* Item buttons */

.item-buttons{
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 25px 16px;
  margin: 12px; 
}

/* Item seller */

.item-seller, .item-payments{
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 32px 16px 24px;
  margin: 12px; 
}

/* Item Payments */
 

@media screen and (max-width: 990px) {
 
  .item-title,  
  .item-buttons, .product-detail-price-pay{ 
    margin: 10px 0px 0px 2px; 
  }
  /* TODO: font-size ItemCount buttons */
  .item-header{
    margin-bottom: 8px;
  }
  .item-header-subtitle{
    font-size: 12px;
    font-weight: 400;
    color: #7c7b7b;
  }

  .item-buttons, .item-seller{
    border: none;
    margin: 12px 0px;
  }
  .product-detail-title{  
    font-size: 16px; 
    font-weight: 400;
    padding-bottom: 0;
  }
  

  .product-description-p{
    font-size: 14px;
  } 
  .product-detail-image {
    width: 100%; 
  }
  .product-detail-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "image"
    "price"
    "specs"
    "buttons"
    "related"
    "info"
    "features"
    "description"
    "payments"
     ;
  }
}
  

 /* .wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,120px);
  column-gap: 10px;
  row-gap: 10px;
 }

.item-img{
  grid-area: 1 / 1 / 4 /2;
  border: 3px solid tomato;
}
.item-title{
  grid-area: 1/ 2 / 2 / 2;
  border: 3px solid blue; 
}
.item-price{
  grid-area: 2 / 2 / 2 / 2;
  border: 3px solid green;
}
.item-buttons{
  grid-area: 1 / 3 / 4 / 3;
  border: 3px solid gray;
}
.item-specs{
  grid-area: 3 / 2 / 3 / 2;
  border: 3px solid red;
}
.item-related{
  grid-area: 4 / 1 / 5 / 3;
  border: 3px solid gray;
}
.item-features{
  grid-area: 7 / 1 / 10 / 3;
  border: 3px solid blue;
}
.item-description{
  grid-area: 11 / 1 / 13 / 3;
  border: 3px solid rgb(172, 14, 141);
}
.item-seller{
  grid-area: 4 / 3 / 8 / 3;
  border: 3px solid red;
}
.item-payments{
  grid-area: 9 / 3 / 13 / 3;
  border: 3px solid tomato;
} */