.item-stock-text{
    font-size: 14px;
} 
.item-offer-day{
    background-color: #3483fa;
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    padding: 3px 4px;
    word-break: break-all;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
}
