.layout-container{
    height: 100%;
    box-sizing: border-box;
}
.cart-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 1px auto 0;
    max-width: 1200px;
}
.cart-content{
    width: calc(100% - 250px);
    min-height: 100%;
    padding: 56px 24px;
    position: relative;
    text-align: center;
}
.cart-aside{
    background-color: #f5f5f5;
    max-width: 250px;
    padding: 48px 0 0; 
}
.cart-content, .cart-aside{    
    -webkit-box-flex: 1;
    flex: 1;
    box-sizing: border-box;
}
.cart-aside__content{
    padding: 20px 24px;
    width: 100%;
    overflow: hidden;
}
.overview-component__item{
    margin-bottom: 20px;
    padding: 0 0 32px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}
.ui-badge{
    margin-bottom: 10px;
    overflow-y: hidden;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}
.badge__product{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-sizing: border-box;
}
.overview-component__item-title{
    font-size: 16px;
}
.overview-component__item-quantity{
    font-size: 14px;
}
.overview-component__item-title, .overview-component__item-quantity{
    font-weight: 300;
    text-align: center;
    color: #333;
    margin-bottom: 8px;
    padding: 0;
}

/* OVERVIEW TABLE */

.overview-table{
    margin-bottom: 32px;
    width: 100%;
}
.overview-component__row{
     display: flex; 
     align-items: self-end;
     width: 100%;
     font-size: 18px;
     line-height: 18px;
     justify-content: space-between;
}
.overview-component__column{
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    padding-bottom: 10px;
    vertical-align: middle; 
}
.overview-component__payments{
    margin: 10px 0;
    padding-top: 18px;
    border-top: 1px solid #e5e5e5;
    font-weight: 400;
}
.overview-component__table{
    width: 100%;
}


.shipping-container{
    padding: 0 0 16px;
    margin: 38px 0 0;
}

/* CHECKOUT FORM */
.checkout-form{ 
    padding: 12px 20px;
}
.form-title{
    margin-bottom: 26px;
}


form{
    display: block;
}
.checkout-form form .form-group{
    display: block;
    margin-bottom: 10px;
}
.checkout-form form label {
    display: block;
    margin-bottom: 10px; 
}
.checkout-form form input,
.checkout-form form select {
    width: 500px;
    padding: 5px;
}




.submit-button{ 
    margin-top: 16px;
}
.end-button{
    font-size: 18px; 
    padding: 14px 28px;
    font-weight: 600;
    display: inline-block;
    width: auto;
}

@media (width <= 890px){ 
    .cart-main-container{
        flex-direction: column;
    }
    .cart-content{
        width: 100%;
        min-height: 100%;
        padding: 56px 24px; 
        text-align: center;
    }
    .cart-aside{ 
        background-color: #ebebeb;  
        max-width: 100%;
        max-height: 400px;
        overflow-y: auto;
        border-bottom: 1px solid #e5e5e5;
        width: 100%; 
        height: 30px; 
        box-sizing: border-box;
    } 
    .overview-component__item-title{
        font-size: 22px;
        font-weight: 300;
        color: #333;
        margin-bottom: 8px;
        padding: 1rem;
    }
    .overview-component__column{
        font-size: 24px;
    }
}