 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  margin: 0 auto;
  /* max-width: 80em; */
	font-family: 'proxima-nova', sans-serif;
  background-color: #ebebeb;
  color: #000000;
  line-height: 1.5; 
}