/* ItemListContainer Styles */

.list-title{
  margin: 1em; 
  text-align: center;
}   

/* Card Container */

.band{
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr ; 
  grid-gap: 20px;
}

/* Card Items */

.card-body {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.card{
  background: white;
  text-decoration: none;
  color: #444;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-content{  
  text-align: center;
} 
.count {
  margin: 10px;
}
.loading-text{
  text-align: center;
}

 
/* Media Queries */

/* Tablet Version */
@media only screen and (min-width: 500px){
  .band{
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop Version */
@media only screen and (min-width: 920px){
  .band{
    grid-template-columns: repeat(4, 1fr);
  }
}