/* ItemListContainer Styles */

.list-title{
  margin: 1em; 
  text-align: center;
}   

/* Card Container */

.band{
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr ; 
  grid-gap: 20px;
}

/* Card Items */


.card{
  background: white;
  text-decoration: none; 
  box-shadow: 0 2px 5px rgba(181, 179, 179, 0.399);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .05s ease-in;
}

.card:hover{
  top: -2px;
  box-shadow: 0 4px 4px rgba(196, 194, 194, 0.512);
}
.card-title{
  font-size: 18px;
  margin: 0;
  color: #333;
}
.card-text{
  line-height: 1.5;
}
.card-picture{
  max-width: 100%; 
  min-width: 100%;
  width: 280px; 
  margin: 0;
  padding: 0;
  border-radius: 4px;
}
.card-body {  
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
} 
.item-content{  
  text-align: center;
} 
.count {
  margin: 10px;
}
.loading-text{
  text-align: center;
}

 
/* Media Queries */

/* Tablet Version */
@media only screen and (min-width: 500px){
  .band{
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop Version */
@media only screen and (min-width: 920px){
  .band{
    grid-template-columns: repeat(4, 1fr);
  }
}