@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  max-width: 80em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: rgb(36, 36, 36);
  color: rgb(207, 207, 207);
  line-height: 1.5;
  padding: 1em;
}
.navbar-link{
  text-decoration: none;
  color: rgba(99, 149, 224, 0.822);
  font-size: 1em; 
  margin-left: 10px;
}  
.list-title{
  margin: 1em; 
  text-align: center;
}
.column {
  width: 300px;
}

.row {
  align-items: center;
  justify-content: center;
}
.card-body {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-content{  
  text-align: center;
}

.card {
  width: auto;
  margin: auto auto; 
}

.count {
  margin: 10px;
}
.loading-text{
  text-align: center;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}